* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover; 
    width: 100%;
    
}


/*------------------------- Header --------------------------*/

header {
    width: 100%;
    height: 110px;
    color: white;
    background-color: #444444;
    background-image: url(../images/velo.png);
    background-repeat: space;
    background-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: white 4px solid;
    z-index: 1111;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 1em;
    margin: 0;
}


/*------------------------- Content --------------------------*/

.container {
    width: 75%;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}

.containerHead {
    background-color: #444444;
    margin: 0;
    height: 40px;
    color: white;
    border-bottom: white 2px solid;
    text-align: center;
    padding-top: 5px;
}

.containerContenu {
    height: 20px;
}

.containerContenu div#info {
    font-size: 9px;
    padding: 5px;
}


/*------------------------- Box left --------------------------*/

.left {
    width: 75%;
    height: 575px;
    float: left;
    background-color: #C6C4C4;
    border: 4px solid white;
}

#map {
    width: auto;
    height: 528px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*------------------------- Box right --------------------------*/
.right {
    width: 24%;
    height: 280px;
    float: right;
    background-color: #C6C4C4;
    border: 4px solid white;
    margin-bottom: 15px;
}

.right table {
    font-size: 9px;
    height: 222px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: scroll;
}


/*------------------------- Footer --------------------------*/
footer {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #444444;
    position: absolute;
    border-top: white 2px solid;
    bottom: 0;
    left: 0;
}

footer p {
    font-size: 0.7em;
    margin-top: 5px;
}