* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    
    
}


/*------------------------- Header --------------------------*/

header {
    width: 100%;
    height: 110px;
    color: white;
    background-color: #444444;
    background-image: url(../images/velo.png);
    background-repeat: space;
    background-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: white 4px solid;
    z-index: 1111;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0;
}


p {
    font-size: 1em;
    margin: 0;
    line-height: 2;
}


/*------------------------- Content --------------------------*/

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}

.containerHead {
    background-color: #444444;
    margin: 0;
    height: 40px;
    color: white;
    border-bottom: white 2px solid;
    text-align: center;
    padding-top: 5px;
}

.containerContent {
    height: 20px;
    text-align: left;
}


/*------------------------- Box left --------------------------*/

.left {
    width: 900px;
    height: 575px;
    float: left;
    border: 4px solid white;
}

#map {
    width: auto;
    height: 528px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(230, 230, 230, 0.8);
}


/*------------------------- Box right --------------------------*/
.right {
    width: 290px;
    height: 152px;
    float: right;
    background-color: rgba(230, 230, 230, 0.8);
    border: 4px solid white;
    margin-bottom: 10px;
}

#settings {
    height: 218px;
}

#informations {
    height: 184.5px;
}

.right .containerContent {
    padding: 10px;
    padding-top: 5px;
}

.right table {
    font-size: 9px;
    height: 125px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: auto;
}

p#title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

p#text {
    font-size: 9px;
}

button {
    float: right;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #444444;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 3px #999;
}

button:hover {
    background-color: #000000;
    outline: none;
}

button:focus {
    background-color: #000000;
    
}

button:active {
  
}

.clicked {
    background-color: #000000;
    cursor: auto;
}

#footnote {
    margin-top: 10px;
    font-size: 10px;
}

/*------------------------- Footer --------------------------*/
footer {
    width: 100%;
    height: 30px;
    color: white;
    background-color: #444444;
    position: absolute;
    border-top: white 2px solid;
    bottom: 0;
    left: 0;
}

footer p {
    font-size: 0.7em;
    margin-top: 5px;
    text-align: center;
}

div.btn {
    display: inline-block;
    border: 2px solid #ccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor: pointer;
}
div.btn.on {
    background-color: #777;
    color: white;
}